@charset "UTF-8";
/* Tipografia */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300&display=swap");
/* Cores */
/* Variáveis padrões */
/* Variáveis de cores personalizadas */
/* Shadows */
/* Componentes */
.image-logo {
  width: 100px;
}

h1 {
  margin: auto;
  margin-top: 10px;
  padding-bottom: 13px;
  text-align: center;
  background-image: linear-gradient(white, white);
  background-size: 100% 20%;
  background-repeat: repeat-x;
  background-position: 0% calc(100% + 3px);
  transition: 0.3s;
  width: 40%;
}
h1:hover {
  background-size: 100% 110%;
  color: #3b3a3a;
}

@media screen and (min-width: 1000px) {
  div#cardNow {
    margin: 30px 0px 20px 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 305px;
  }
  div#cardNow .card {
    min-width: 540px;
    position: relative;
    overflow: hidden;
    max-height: 280px;
    transition: all 0.75s ease-in-out;
    margin: 0px 10px 0px 10px;
  }
}
@media screen and (max-width: 768px) {
  div#cardNow {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div#cardNow .card {
    width: 80%;
    position: relative;
    overflow: hidden;
    transition: all 0.75s ease-in-out;
    margin: 0px 10px 0px 10px;
  }
}
h1 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 13px;
  text-align: center;
  background-image: linear-gradient(white, white);
  background-size: 100% 20%;
  background-repeat: repeat-x;
  background-position: 0% calc(100% + 3px);
  transition: 0.3s;
  width: 40%;
}
h1:hover {
  background-size: 100% 110%;
  color: #3b3a3a;
}

@media screen and (min-width: 1000px) {
  div#cardPopular {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div#cardPopular .card {
    min-width: 540px;
    width: 20%;
    position: relative;
    overflow: hidden;
    transition: all 0.75s ease-in-out;
    margin: 0px 10px 0px 10px;
  }
}
@media screen and (max-width: 768px) {
  div#cardPopular {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div#cardPopular .card {
    width: 80%;
    position: relative;
    overflow: hidden;
    transition: all 0.75s ease-in-out;
    margin: 0px 10px 0px 10px;
  }
}
h1 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 13px;
  text-align: center;
  background-image: linear-gradient(white, white);
  background-size: 100% 20%;
  background-repeat: repeat-x;
  background-position: 0% calc(100% + 3px);
  transition: 0.3s;
  width: 40%;
}
h1:hover {
  background-size: 100% 110%;
  color: #3b3a3a;
}

@media screen and (min-width: 1000px) {
  div#cardTop {
    margin: 30px 0px 20px 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 305px;
  }
  div#cardTop .card {
    min-width: 540px;
    position: relative;
    overflow: hidden;
    max-height: 280px;
    transition: all 0.75s ease-in-out;
    margin: 0px 10px 0px 10px;
  }
}
@media screen and (max-width: 768px) {
  div#cardTop {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div#cardTop .card {
    width: 80%;
    position: relative;
    overflow: hidden;
    transition: all 0.75s ease-in-out;
    margin: 0px 10px 0px 10px;
  }
}/*# sourceMappingURL=index.css.map */