h1 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 13px;
    text-align: center;
    background-image: linear-gradient($white, $white);
    background-size: 100% 20%;
    background-repeat: repeat-x;
    background-position: 0% calc(100% - -3px);
    transition: 0.3s;
    width: 40%;
    &:hover {
      background-size: 100% 110%;
      color: $dark-body;
    }
  }
  @media screen and (min-width: 1000px) {
    div#cardTop {
      margin: 30px 0px 20px 0px;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      height: 305px;
      .card {
        min-width: 540px;
        position: relative;
        overflow: hidden;
        max-height: 280px;
        transition: all 0.75s ease-in-out;
        margin: 0px 10px 0px 10px;
      }
    }
  }
  
  
  @media screen and (max-width: 768px) {
    div#cardTop {
      margin: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .card {
        width: 80%;
        position: relative;
        overflow: hidden;
        transition: all 0.75s ease-in-out;
        margin: 0px 10px 0px 10px;
      }
    }
  }
  