/* Tipografia */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300&display=swap");
$fontAbril: "Abril Fatface", cursive;
$fontRoboto: "Roboto", sans-serif;
/* Cores */
/* Variáveis padrões */
$transparente: transparent;
$black: black;
$white: white;
/* Variáveis de cores personalizadas */
$red_body: #cd0232;
$blue_body: #3f3992;
$dark_body: #3b3a3a;
$light_body: #b4b4b4;
/* Shadows */
$box_border: #ffffff2e;
